@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #121212;
}

html {
  scroll-behavior: smooth;
}

.list {
  scroll-behavior: smooth;
}

/* commom css  */
.flex-css {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-css-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flex-css-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-top-row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.flex-top-row-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.flex-row-center {
  display: flex;
  justify-content: center;
}

.flex-row-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-row-sa {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
